<%- include('../partials/header.ejs') %>
<div class='container'>
<form action='/movie/<%= movie._id %>?_method=PUT' method='POST' enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Statue name</label>
      <input type="text" class="form-control" name='movie[name]' placeholder='<%= movie.name %>' value = '<%= movie.name %>'>
    </div>
    <div class="mb-3">
      <label  class="form-label">Image</label>
      <img src='<%= movie.image %>' width = '300px'>
      <input type="file" class="form-control" name='image' accept="image/*">
    </div>
    <div class="mb-3">
      <label  class="form-label">Description</label>
      <input type="text" class="form-control" name='movie[desc]' placeholder='<%= movie.desc %>' value = '<%= movie.desc %>'>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href='/movie'>Go back</a>
  </form>
</div>

<%- include('../partials/footer.ejs') %>