<%- include('../partials/header.ejs') %>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i2.wp.com/marketeeronline.co/wp-content/uploads/2018/04/Major-SF-Marketeer-Online-WEB.png?fit=816%2C454&ssl=1" 
        style="height: 700px;" class="d-block w-100" alt="...">
    </div>
    <!-- <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div> -->
    <!-- <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"  style="text-align: center;margin-top: 50px; color: rgb(79, 129, 236);
        text-shadow: 0 1px 0 rgb(51, 47, 47) ">Welcome To CINEMA!</h1>
      </div>
    </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% theater.forEach(function(theater){  %>
      <div class="col">
        <div class="card shadow-sm">
          <a href="/theater/<%= theater._id %>" class="btn btn-sm btn-outline-secondary">
            <img src='<%= theater.image %>' class='card-img-top' height="200px">
          </a>
    
          <!-- <div class="card-body"> -->
             <!-- <h5 class = 'card-title'><%= theater.name %></h5>  -->
            <!-- <p class="card-text"><%= theater.location %></p> -->
            <!-- <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/theater/<%= theater._id %>" class="btn btn-sm btn-outline-secondary">View</a> -->
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
              <!-- </div>
            </div>
          </div> -->
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>